<style>
    .img-circle{
         display: block;
         height: 100%;
     }
    .jugador{
        padding: 5px;
        margin: 10px;
        height: 100px;
        width: 300px;
        float: left;
    }
</style>

<div class="well jugador"><img src="../../img/robertSacre.png" alt="" class="img-circle">
    <h4 class="text-center">Robert Sacre 1</h4>
    <p class="text-center">Pivot</p>
</div>
<div class="well jugador"><img src="../../img/robertSacre.png" alt="" class="img-circle">
    <h4 class="text-center">Robert Sacre 2</h4>
    <p class="text-center">Pivot</p>
</div>
<div class="well jugador"><img src="../../img/robertSacre.png" alt="" class="img-circle">
    <h4 class="text-center">Robert Sacre 3</h4>
    <p class="text-center">Pivot</p>
</div>
<div class="well jugador"><img src="../../img/robertSacre.png" alt="" class="img-circle">
    <h4 class="text-center">Robert Sacre 4</h4>
    <p class="text-center">Pivot</p>
</div>