<%= div_for competition do %> 
  <h3>
    <% if competition.owned_by? current_user  %> 
      <span class="actions">
        <p class="text-center"><%= link_to "edit", edit_competition_path(competition) %></p> |
        <p class="text-center"><%= link_to "delete",competition, method: :delete, data: {confirm: "seguro?"} %> </p>
      </span>
    <% end %> <br> 					
  </h3>
<% end %> 
